# Application Configuration
NEXT_APP_NAME={{APP_NAME}}

# Better Auth
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET={{BETTER_AUTH_SECRET}}

# Google OAuth (Optional - leave empty if not using)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# GitHub OAuth (Optional - leave empty if not using)
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
